*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;    
}
/*---------header style ----------*/
.background-area{
    background-color: #161616;
    height: 646px;
    width: 1321px;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
}
.cover-area{
    display: flex;

}
.half-width{
    width: 50%;
}
.show-on{
    color: white;
    margin-left: 106px;
    margin-top: 111px;
}
.show-on h1{
    line-height: 1em;
    font-size: 70px;
}
.show-on p{
    width: 506px;
    height: 76px;
    margin-top: 20px;
    font-size: 16px;
}
.show-on button{
    background-color: #DD0000;
    color: white;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
}
.half-width,.cover-image img{
    height: 613px;
    width: 581px;
    padding-top: 17px;
    padding-left: 35px;
}
/* -------------end header style----------- */

/* -------------start live play style------------ */
.live-playes{
    margin-top: 130px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.play{
    border: 1px solid gray;
    border-radius:10px;
    width: 312px;
    height: 362px;
    margin-top: 20px;
}
.play .play-image img{
    width: 312px;
    height: 175px;
}
.play-info{
    margin-left: 20px;
}
.play-info button{
    background-color: white;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
.play-description{
    margin-top: 15px;
}
.play-duration{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
/*------------ end live play style------------ */


/* ----------start fotter style-------- */

footer{
    background-color: #161616;
    height: 444px;
    margin-top: 130px;
}
h1{
    padding-top: 130px;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 50px;
}
hr{ margin-bottom: 50px;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
}
.contact-area{
    display: flex;
    text-align: center;
    color:#B9B9B9;
    margin: 15px;
    margin-top: 50px;
    margin-left: 15.94%;
    margin-right: 15.94%;
}
.contact-area h4{
    margin:30px;
}
