*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;    
}
/*---------header style ----------*/
.background-color{
    display: flex;
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 15px;

}
.half-width{
    width: 50%;
}
.play-title{
    margin-left: 100px;
    margin-top: 111px;

}
.show-on-title{
    line-height: 1em;
    font-size: 70px;
    color: white;
    padding-bottom: 20px;

}
.half-width p{
    font-size: 16px;
    padding-top: 30px;
    color: white;
}
.half-width button{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border: none;
    border-radius: 5px;
}
.half-width img{
    padding-top: 33px;
    width: 581px;
    height: 613px;
}
/* -------------end header style----------- */

/* -------------start live play style------------ */
.live-playes{
    margin-top: 130px;
    display: flex;
    justify-content: center;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
.blogs{
    background-color: #161616;
    height: 312px;
    width: 312px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: center;
}
.match{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 5px;
}
.group{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 5px;
}
.blog{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color:#DD0000;
    color: black;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 5px;
}
.play{
    border: 1px solid #dadbdf;
    border-radius:10px;
    width: 312px;
    height: 362px;
    margin-top: 20px;
}
.play .play-image img{
    width: 312px;
    height: 175px;
}
.play-info{
    margin-left: 20px;
}
.play-info button{
    background-color: white;
    font-size: 18px;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
.play-description{
    margin-top: 15px;
}
.play-comment{
    padding-left: 30px;
}
.play-duration{
    color: #808080;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}
/*------------ end live play style------------ */


/* ----------start fotter style-------- */

footer{
    background-color: #161616;
    height: 444px;
    margin-top: 130px;
}
.goal{
    padding-top: 130px;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 50px;
}
hr{ margin-bottom: 50px;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
}
.contact-area{
    display: flex;
    text-align: center;
    color:#B9B9B9;
    margin: 15px;
    margin-top: 50px;
    margin-left: 19.94%;
    margin-right: 15.94%;
}
.contact-area h4{
    margin:20px;
}
